*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slide-container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.image-container{
    width: 300vw;
    height: 100vh;
    display: flex;
    animation:slideAnimation 9s infinite ease-in-out;
    animation-play-state: running;
}
.slider-image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.button-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.slider-button{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.slider-button:hover{
    background-color: #888;
}
.slider-button:hover ~ .image-container{
    animation-play-state: paused;
}
.image-container:hover{
    animation-play-state: running;
}
#slider-image1:target ~.image-container{
    animation: none;
    transform: translateX(0);
}
#slider-image2:target ~.image-container{
    animation: none;
    transform: translateX(-100vw);
}
#slider-image3:target ~.image-container{
    animation: none;
    transform: translateX(-200vw);
}
@keyframes slideAnimation{
    0% {transform: translateX(0);}
    33.33% {transform: translateX(-100vw);}
    66.66% {transform: translateX(-200vw);}
    100% {transform: translateX(0);}
}